core/assets/configurations/XML/scenarios/scenario.dtd

<!ELEMENT levels (level+)>

    <!ELEMENT level (player+, updater*)>
    <!ATTLIST level world CDATA #REQUIRED>

        <!ELEMENT player EMPTY>
        <!ATTLIST player id CDATA #REQUIRED>
        <!ATTLIST player entrance CDATA #REQUIRED>

        <!ELEMENT updater EMPTY>
        <!ATTLIST updater id CDATA #REQUIRED>